<!-- navbar start -->
<nav class="navbar navbar-expand-md navbar-custom navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" id="font-adjust" (click)="goToSignUp()">EdList
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-light" (click)="goToSignUp()">Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->
<div class="container color-box">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h1 class="heading">Reset your Password</h1>
    </div>

  </div>
  <div class="row mt-3 p-3">
    <div class="col-12">
        <form #resetForm="ngForm" (ngSubmit)="resetPassword();resetForm.reset()">
            <span class="sub-heading">New Password</span>
            <label for="inputPassword" class="sr-only">New Password</label>
      
            <input type="password" #pass="ngModel" name="password" pattern="^[A-Z]\w{7,}$" id="inputPassword" class="form-control" [(ngModel)]="password"
              placeholder="Password" required>
      
            <br>
            <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
              <div *ngIf="pass.errors?.pattern">
                Password should contain only characters,numeric digits, underscore and start with capital!
      
              </div>
              <div *ngIf="pass.errors?.required">
                Password is required!
              </div>
            </div>
            <span class="sub-heading">Confirm Password</span>
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
      
            <input type="password" #confirmpass="ngModel" name="confirmpassword" id="confirmPassword" class="form-control" [(ngModel)]="confirmpassword"
              placeholder="Confirm Password" required>
      
            <br>
            <div [hidden]="confirmpass.pristine || password==confirmpassword" class="alert alert-danger">
                <div *ngIf="password!=confirmpassword">
                   ** Password and Confirm Password does not match!
                </div>
               <div *ngIf="confirmpass.errors?.required">
                ** Confirm Password is required!
               </div>
             </div>
      
           
      
            <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!resetForm.form.valid">Reset</button>
          </form>

    </div>
  </div>
</div>